// device sizes
// indicated size is minimum size of the device
$tablet: 605px;
$laptop: 1000px;
$desktop: 1285px;

// colors

// font sizes

// font-family

//font-weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

//mobile
$vSpan: 18px;
$lh: $vSpan*1.6;
$colWidth: 276px;
$gutterWidth: 22px;
$maxWidth: 320px;

@mixin vars--t() {
	$lh: $vSpan*1.8 !global;
	$lineHeight : 32px !global;
	$colWidth   : 56px !global;
	$gutterWidth: 22px !global;

	//columns
	$col1       : $colWidth * 1 !global;
	$col2       : $colWidth * 2 + $gutterWidth * 1 !global;
	$col3       : $colWidth * 3 + $gutterWidth * 2 !global;
	$col4       : $colWidth * 4 + $gutterWidth * 3 !global;
	$col5       : $colWidth * 5 + $gutterWidth * 4 !global;
	$col6       : $colWidth * 6 + $gutterWidth * 5 !global;
	$col7       : $colWidth * 7 + $gutterWidth * 6 !global;
	$col8       : $colWidth * 8 + $gutterWidth * 7 !global;
}

@mixin vars--l(){
	$colWidth   : 54px !global;
	$gutterWidth: 32px !global;

	//columns
	$col1       : $colWidth * 1 !global;
	$col2       : $colWidth * 2 + $gutterWidth * 1 !global;
	$col3       : $colWidth * 3 + $gutterWidth * 2 !global;
	$col4       : $colWidth * 4 + $gutterWidth * 3 !global;
	$col5       : $colWidth * 5 + $gutterWidth * 4 !global;
	$col6       : $colWidth * 6 + $gutterWidth * 5 !global;
	$col7       : $colWidth * 7 + $gutterWidth * 6 !global;
	$col8       : $colWidth * 8 + $gutterWidth * 7 !global;
	$col9       : $colWidth * 9 + $gutterWidth * 8 !global;
	$col10      : $colWidth * 10 + $gutterWidth * 9 !global;
	$col11      : $colWidth * 11 + $gutterWidth * 10 !global;
	$col12      : $colWidth * 12 + $gutterWidth * 11 !global;
}

@mixin vars--d(){
	$colWidth   : 67px !global;
	$gutterWidth: 36px !global;

	//columns
	$col1       : $colWidth * 1 !global;
	$col2       : $colWidth * 2 + $gutterWidth * 1 !global;
	$col3       : $colWidth * 3 + $gutterWidth * 2 !global;
	$col4       : $colWidth * 4 + $gutterWidth * 3 !global;
	$col5       : $colWidth * 5 + $gutterWidth * 4 !global;
	$col6       : $colWidth * 6 + $gutterWidth * 5 !global;
	$col7       : $colWidth * 7 + $gutterWidth * 6 !global;
	$col8       : $colWidth * 8 + $gutterWidth * 7 !global;
	$col9       : $colWidth * 9 + $gutterWidth * 8 !global;
	$col10      : $colWidth * 10 + $gutterWidth * 9 !global;
	$col11      : $colWidth * 11 + $gutterWidth * 10 !global;
	$col12      : $colWidth * 12 + $gutterWidth * 11 !global;
}
